.App{
  background-image: url(https://images.pexels.com/photos/673648/pexels-photo-673648.jpeg?cs=srgb&dl=pexels-francesco-ungaro-673648.jpg&fm=jpg);
background-repeat: no-repeat;
background-size: 100%;

}
.navbar{
  display:flex;
  padding:20px;
  align-items: center;
  margin:0 auto;
  width: 800px;
}
.container{
  margin-left: 400px;

}
img{
  border-radius: 20px;
}
.h1{
  margin-left: 100px;
}
.h2{
margin-left:400px;
}
.menu{
  align-items: center;
  margin-left: 800px;
  font-size: 30px;
}
.menu a{
  margin-left: 16px;
  padding: 8px;
  color: black;
}